// Обнулювання

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

/*------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h2 {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.main-page {
  max-width: 100vw;
  height: 100vh;
  background-image: url("/img/photo_2023-12-12_11-03-41.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  margin-bottom: 190px;
}
.header__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.header__item {
  text-align: center;
  line-height: normal;
}
.header__link {
  display: block;
  color: #181818;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-logo__img {
  max-width: 139px;
}
.header-btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.header-btns__reg {
  display: inline-block;
  color: #151515;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  //   margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-btns__sig {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 22px;
  border-radius: 5px;
  background: #656293;
}

.home__h1 {
  max-width: 70%;
  color: #151515;
  font-family: Roboto;
  font-size: 66px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 48px;
  & span {
    color: #656293;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
.home__link {
  color: #151515;

  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  display: block;
  position: relative;
  &::after {
    content: url("/img/arrow-right 1.svg");
    position: absolute;
    top: 2px;
    left: 100px;
  }
}
.private-jet {
  padding-top: 115px;
  padding-bottom: 66px;
  background-image: url(/img/Rectangle\ 11.png), url(/img/Rectangle\ 12.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left 235px, right 807px;
}

.private-jet__h2 {
  margin-bottom: 130px;
}
.private-jet__article1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}

.private-jet__article2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
h4 {
  color: #151515;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.private-jet__h4 {
  margin-bottom: 20px;
}
.private-jet__text {
  max-width: 450px;
}
.private-jet__p {
  color: rgba(21, 21, 21, 0.6);
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.private-jet__img1 {
  max-width: 576px;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}
.private-jet__img2 {
  max-width: 611px;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}
.specification {
  padding-top: 115px;
}
.specification__h2 {
  margin-bottom: 68px;
}
.specification-list {
  background-image: url(/img/performance-plane-removebg-preview\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300 330;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}
.specification-list__item {
  padding: 40px 52px 50px 52px;

  max-width: 370px;
  max-height: 268px;
  text-align: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.13), 0px 3px 14px 0px rgba(19, 10, 46, 0.03),
    0px 8px 32px 0px rgba(19, 10, 46, 0.07), 0px 30px 84px 0px rgba(19, 10, 46, 0.08);
}
.specification-list__image {
  max-width: 55px;
  max-height: 55px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 13px;
}
.specification-list__h5 {
  color: #151515;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 11px;
}
.specification-list__p {
  max-width: 266px;
  max-height: 71px;
  flex-shrink: 0;
  color: rgba(21, 21, 21, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.luxury-charters {
  padding-top: 115px;
  padding-bottom: 59px;
  background-image: url(/img/photo_2023-12-12_18-57-34.jpg);
  background-repeat: no-repeat;
  background-position: 650px 208px;
}
.luxury-charters__h2 {
  margin-bottom: 68px;
}
.luxury-charters-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.luxury-charters-list__item {
  max-width: 255px;
  max-height: 251px;
  padding: 9px 11px 0 11px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(19, 10, 46, 0.13), 0px 3px 14px 0px rgba(19, 10, 46, 0.03),
    0px 8px 32px 0px rgba(19, 10, 46, 0.07), 0px 30px 84px 0px rgba(19, 10, 46, 0.08);
}
.luxury-charters-list__image {
  flex-shrink: 0;
  border-radius: 12px;
  margin-bottom: 14px;
}
.luxury-charters-list__text {
  color: #151515;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 14px;
}
.membership {
  padding-top: 56px;
  display: block;
}
.membership__h2 {
  margin-bottom: 65px;
}
.membership-slider {
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}
.membership-slider-slide {
  max-width: 354px;
  width: 100%;
  height: auto;
  padding: 24px 24px 24px 24px;
  border-radius: 20px;
  background: #f5f5f5;
}
.membership-slider__h3 {
  color: #151515;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
.membership-slider__p {
  color: #a9a9aa;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 24px;
}
.membership-slider-list1 {
  display: flex;
  height: 185px;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 2px dashed #a9a9aa;
  margin-bottom: 65px;
}
.membership-slider-list2 {
  display: flex;
  height: 185px;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 2px dashed #a9a9aa;
  margin-bottom: 65px;
}
.membership-slider-list3 {
  display: flex;
  height: 185px;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 18px;
  border-bottom: 2px dashed #a9a9aa;
  margin-bottom: 65px;
}
.membership-slider__price {
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
  & span {
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
}
.membership-slider__btn {
  display: flex;
  max-width: 352px;
  width: 100%;
  padding: 12px 0px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  border-radius: 12px;
  background: #656293;
}
// // -----------------------------------------Contacts/Footer-------------------------------------------//
footer {
  width: 100%;
  padding-top: 185px;
  background-image: url("/img/plane-large 1.png");
  background-repeat: no-repeat;
  background-position: 65% -4px;
}
.footer-content {
  padding-top: 50px;
  background: #656293;
}
.footer-logo__svg {
  display: block;
  width: 139px;
  margin: 0 auto;
  height: 36px;
  flex-shrink: 0;
  background-color: #656293;
  margin-bottom: 30px;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #b7b7b7;
  line-height: normal;
  color: rgba(255, 255, 255, 0.7);
}
.footer-nav-list {
  display: flex;
  max-width: 327px;
  width: 100%;
  justify-content: space-between;
}
.footer-nav-list__item {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.footer-nav__p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
